---
import Layout from "../layouts/Layout.astro";

const seoData = {
	title: "",
	description: "Explora una educación de calidad en el Colegio Campestre Exploradores del Saber en Zipaquirá. Nuestra institución se compromete a proporcionar un ambiente educativo excepcional, fusionando tradición y vanguardia. ¡Inscríbete hoy para ser parte de una experiencia educativa única en Zipaquirá!",
	keywords: "",
	ogImage: '/og-image.jpg',
	ogType: 'website',
	canonical: "",
	noindex: false,
	jsonLd: {}
};
---

<Layout {...seoData}>
	<div class="bg-primary-500">
		<h1 class="text-primary">Astro</h1>
	</div>
</Layout>
