---
import "../styles/global.css";
import SEO from "@components/SEO.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
    title: string;
    description: string;
    keywords?: string;
    ogImage?: string;
    ogType?: string;
    canonical?: string;
    noindex?: boolean;
    jsonLd?: object;
    bgClass?: string; // Permite personalizar el fondo si lo deseas
}

const {
    title,
    description,
    keywords = '',
    ogImage = '/og-image.jpg',
    ogType = 'website',
    canonical,
    noindex = false,
    jsonLd,
    bgClass = "bg-primary"
} = Astro.props;
---
<html lang="es" dir="ltr">
<head>
    <SEO {...Astro.props}/>
</head>
<body class={`min-h-screen flex flex-col ${bgClass}`}>
    <header>
        <Navbar/>
    </header>
    <main class="container mx-auto flex-1 px-4 py-2">
        <slot/>
    </main>
    <Footer/>
</body>
</html>